
html,
body {
    font-family: 'Roboto', sans-serif;
    background: #F8F9FA;
    
}


p {
    margin: 0 0 15px;
    font-size: 20px;
    line-height: 28px;
}

h1 {
    font-size: 48px;
    line-height: 56px;
    font-weight: 700;
}

.section {
  background-color: #fff;
  overflow: hidden;
  margin-bottom: 64px;
}

.section-wrapper {
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1096px;
}

.swiper {
  width: 100%;
  max-width: 1096px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  text-align: center;
  background-size: cover;
  background-position: center;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mySwiper2 {
  width: 100%;
  height: 80%;
}

.mySwiper {
  box-sizing: border-box;
  padding: 24px 0;
  width: 100%;
  height: 20%;
}

.mySwiper .swiper-slide {
  width: 20%;
  height: 100%;
  opacity: 1;
}

.mySwiper .swiper-slide img {
  margin-bottom: 16px;
}

.mySwiper .swiper-slide-thumb-active img{
  opacity: 0.5;
}


.mySwiper .swiper-slide span {
  color: #585858 ;
  font-size: 16px;
  line-height: 24px;
}

.mySwiper .swiper-slide-thumb-active span {
  color:#7E5FF1;
}