body {
  font-family: 'Roboto', sans-serif;
  background: #F8F9FA;
  color: #333333;
}

h1 {
  font-size: 48px;
  line-height: 56px;
  font-weight: 700;
  margin: 20px 0;
  color: #45395B;
}

h1 span {
  color: #7E5FF1;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  margin-left: 16px;
}

p {
  margin: 0;
  font-size: 20px;
  line-height: 28px;
}

.section {
  overflow: hidden;
}

.section.white-bg {
  background-color: #fff;
  margin-bottom: 64px;
}

.section-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1096px;
}

.section.white-bg .section-wrapper {
  padding-top: 140px;
}

.header {
  display: flex;
  gap: 40px;
  justify-content: space-between;
}

.header-desktop-suite {
  max-width: 640px;
}

.header-download-box {
  box-shadow: 0px 8px 32px rgba(114, 127, 150, 0.32);
  border-radius: 8px;
  width: 312px;
  height: 192px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 40px;
  height: 40px;
  filter: drop-shadow(0px 8px 16px rgba(114, 127, 150, 0.32));
}

.icons {
  margin-left: -16px;
  filter: drop-shadow(0px 8px 16px rgba(114, 127, 150, 0.32));
  border-radius: 12.5px;
}

.download {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 141px;
  height: 40px;
  background: #7E5FF1;
  border-radius: 29px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  margin: 20px 85px 0 85px;
  cursor: pointer;
}

.requirements {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.shadow-gray {
  color: #727F96;
}

.switcher {
  margin-top: 120px;
  display: flex;
  align-items: flex-start;
  gap: 60px;
}

.switch {
  display: flex;
  justify-content: start;
  height: 62px;
  cursor: pointer;
}

.switch.active {
  border-bottom: 2px solid #7E5FF1;
}

.switch h3 {
  color: #45395B;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  margin-top: 12px;
  margin-bottom: 0;
}

.switch.active h3 {
  color: #7E5FF1;
}

.swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  text-align: center;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.swiper-button-next,
.swiper-button-prev {
  display: none;
}

.Swiper3,
.Swiper4 {
  display: none;
}

.Swiper2,
.Swiper4 {
  width: 100%;
  height: 80%;
  border-radius: 8px;
}

.Swiper1,
.Swiper3 {
  box-sizing: border-box;
  padding: 24px 0;
  width: 100%;
  height: 20%;
}

.Swiper1 .swiper-slide,
.Swiper3 .swiper-slide {
  width: 20%;
  height: 100%;
  opacity: 1;
}

.Swiper1 .swiper-slide img,
.Swiper3 .swiper-slide img {
  margin-bottom: 16px;
}

.Swiper1 .swiper-slide-thumb-active img,
.Swiper3 .swiper-slide-thumb-active img {
  opacity: 0.5;
}

.Swiper1 .swiper-slide span,
.Swiper3 .swiper-slide span {
  color: #585858;
  font-size: 16px;
  line-height: 24px;
}

.Swiper1 .swiper-slide-thumb-active span,
.Swiper3 .swiper-slide-thumb-active span {
  color: #7E5FF1;
}

@media (max-width: 1096px) {
  .section-wrapper {
    padding-left: 24px;
    padding-right: 24px;
  }
}


@media (max-width: 840px) {
  .header {
    flex-direction: column;
  }

  .header-desktop-suite {
    max-width: 100%;
  }

  .header-download-box {
    width: 100%;
  }

  .switcher {
    margin-top: 60px;
  }

  .section.white-bg {
    margin-bottom: 40px;
  }
}

@media (max-width: 767px) {
  .section-wrapper {
    padding-left: 16px;
    padding-right: 16px;
  }

  h1 {
    font-size: 32px;
  }

  h1 span {
    font-size: 16px;
  }

  .switch h3 {
    font-size: 18px;
    line-height: 20px;
    margin-top: 14px;
  }

}

@media (max-width: 480px) {

  .Swiper2,
  .Swiper4 {
    display: none !important;
  }

  .Swiper1,
  .Swiper3 {
    padding-top: 0;
  }

  .Swiper1 .swiper-slide-thumb-active img,
  .Swiper3 .swiper-slide-thumb-active img {
    opacity: 1;
  }

  .Swiper1 .swiper-slide-thumb-active span,
  .Swiper3 .swiper-slide-thumb-active span {
    color: #585858;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: block;
    margin-top: calc(-30px - (var(--swiper-navigation-size)/ 2));
  }

  .switcher {
    gap: 20px;
  }

  .switch h3 {
    font-size: 16px;
    line-height: 18px;
    margin-top: 16px;
  }

}